@import "styles/Home.module.sass"

.header__title
  display: flex
  align-items: center
  gap: 3rem

.title
  font-size: 50px
  font-weight: 900

.title__bar
  width: 30vw
  height: 1px
  background-color: transparentize($cinza, 0.5)