@import "styles/Home.module.sass"
  
.table

.th
  border: 2px solid $badge
  padding: 5px 50px

.tr__body
  background-color: $badge

.td__body
  padding: 0 20px
  max-width: 500px

.actions
  display: flex
  align-items: center
  justify-content: center
  flex-direction: row
  gap: 1rem

.button
  font-size: 22px
  display: flex
  align-items: center

  &:hover
    cursor: pointer
    color: red