@import "styles/Home.module.sass"

.title
  padding-bottom: 16px

.datatable
  width: 1280px
  margin: auto
  text-align: center
  background-color: $badge
  padding: 20px
  border-radius: 5px
  color: $cinza

.datatable input
  display: none

.datatable h2
  text-align: left
  margin: 0 0 10px
  font-size: 20px
  text-transform: uppercase

.row
  display: flex
  border-bottom: 1px solid rgba(255, 255, 255, 0.1)
  text-align: left

.row.head
  font-weight: bold
  border: 2px solid #666F7B
  border-radius: 2px
  margin-bottom: 20px

.row div
  flex: 1
  padding: 10px 0

.row.head div:not(:first-child)
  padding: 0

.row label
  padding: 10px
  display: block
  cursor: pointer

.content
  display: flex
  flex-direction: column

.dataRow
  display: flex
  align-items: center
  justify-content: flex-start
  line-height: 1.6
  padding: 10px 0 10px 12px !important

.small
  max-width: 150px

.thumb
  max-width: 150px

.actions
  display: flex
  align-items: center
  justify-content: center
  gap: 8px
  
  button
    font-size: 20px
    color: $cor-primaria
    cursor: pointer
